/* Estilos del footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 11px;
  width: 100%;
}

/* Estilos para el sidenar */
.wrapper .wrapper__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  background: #1f2c45;
  color: #fff;
  transition: all 0.3s;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__logo {
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px dotted #676767;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__logo img {
  width: 60%;
  height: 100%;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul {
  padding: 0 20px;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li {
  list-style: none;
  padding: 10px 0;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li a {
  text-decoration: none;
  color: #8d98af;
  display: flex;
  padding: 2px;
  gap: 10px;
  align-items: safe;
  font-size: 14px;
  position: relative;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li a:hover {
  background: #3c97ff;
  padding: 8px;
  border-radius: 5px;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li:hover a {
  color: #fff;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li.active {
  background: #3c97ff;
  padding: 5px;
  border-radius: 5px;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li.active a {
  color: #fff;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li .dropdown-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.wrapper .wrapper__sidebar .wrapper__sidebar__menu ul li .dropdown-icon i {
  transition: transform 0.3s ease;
}

.wrapper
  .wrapper__sidebar
  .wrapper__sidebar__menu
  ul
  li.dropdown-item.open
  .dropdown-icon
  i {
  transform: rotate(180deg);
}

.wrapper .wrapper__section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.3s ease;
}

body.active .wrapper .wrapper__sidebar {
  left: -250px;
}

body.active .wrapper .wrapper__section {
  width: 100%;
  margin-left: 0;
}
/* fin estilos sidebar */

/* compoennte headerRefacciones */

/* fin componente headerRefacciones */

/* Otros estilos */
/* fondo de pagina: #f9f9f9
barrita superior #ffffff
menu lateral #1f2c45
letras de menu izquierdo: #8d98af
seleccionado: #3c97ff con letras blanas */
